### Model Training

1.1 Import Data and Required Packages

Importing Pandas, Numpy, Matplotlib, Seaborn and Warnings Library.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 232 from PyObject

In [4]:
df = pd.read_csv('data/stud.csv')

In [5]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Preparing X and Y variables

In [7]:
X = df.drop(columns = ['math_score'],axis =1)

In [11]:
X.head

<bound method NDFrame.head of      gender race_ethnicity parental_level_of_education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
3      male        group A          associate's degree  free/reduced
4      male        group C                some college      standard
..      ...            ...                         ...           ...
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test_preparation_course  reading_score  writing_score
0                      none             72             74
1                 completed             90             88
2                      none             95             93
3                      none             57             44
4                      none             78             75
..                      ...            ...            ...
995               completed             99             95
996                    none             55             55
997               completed             71             65
998               completed             78             77
999                    none             86             86

[1000 rows x 7 columns]>

In [12]:
print("categories in 'gender' variable:   ",end=" ")
print(df['gender'].unique())

print("categories in 'race_ethnicity' variable:   ",end=" ")
print(df['race_ethnicity'].unique())

print("categories in 'parental_level_of_education' variable:   ",end=" ")
print(df['parental_level_of_education'].unique())

print("categories in 'lunch' variable:   ",end=" ")
print(df['lunch'].unique())

print("categories in 'test_preparation_course' variable:   ",end=" ")
print(df['test_preparation_course'].unique())

categories in 'gender' variable:    ['female' 'male']
categories in 'race_ethnicity' variable:    ['group B' 'group C' 'group A' 'group D' 'group E']
categories in 'parental_level_of_education' variable:    ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
categories in 'lunch' variable:    ['standard' 'free/reduced']
categories in 'test_preparation_course' variable:    ['none' 'completed']

In [8]:
y = df['math_score']

In [10]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [14]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude = 'object').columns
cat_features = X.select_dtypes(include='object').columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features),
    ]
)

In [15]:
X = preprocessor.fit_transform(X)

In [16]:
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [17]:
X.shape

(1000, 19)

In [18]:
# Separate dataset for train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)
X_train.shape,X_test.shape

((800, 19), (200, 19))

### Create an Evaluate Function to give all metrics after model Training

In [25]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mae, rmse, r2_score

In [34]:
models ={
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(),
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor(),
}

model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) #Train model

    # Make Predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate Train and Test dataset
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)


    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print("Model performance for Training set")
    print("- Root mean squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    #print("- R2 Score: {:.4f}".format(model_train_r2))
    print('--------------------------------------')

    print('Model performance for Test set')
    print("- Root mean squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    #print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)

    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root mean squared Error: 5.3276
- Mean Absolute Error: 4.2767
--------------------------------------
Model performance for Test set
- Root mean squared Error: 5.4090
- Mean Absolute Error: 4.2259
===================================


Lasso
Model performance for Training set
- Root mean squared Error: 6.5938
- Mean Absolute Error: 5.2063
--------------------------------------
Model performance for Test set
- Root mean squared Error: 6.5197
- Mean Absolute Error: 5.1579
===================================


Ridge
Model performance for Training set
- Root mean squared Error: 5.3233
- Mean Absolute Error: 4.2650
--------------------------------------
Model performance for Test set
- Root mean squared Error: 5.3904
- Mean Absolute Error: 4.2111
===================================


K-Neighbors regressor
Model performance for Training set
- Root mean squared Error: 5.7066
- Mean Absolute Error: 4.5137
--------------------------------------
Model performance for Test set
- Root mean squared Error: 7.2530
- Mean Absolute Error: 5.6210
===================================


Decision Tree
Model performance for Training set
- Root mean squared Error: 0.2795
- Mean Absolute Error: 0.0187
--------------------------------------
Model performance for Test set
- Root mean squared Error: 7.3797
- Mean Absolute Error: 5.8600
===================================


Random Forest Regressor
Model performance for Training set
- Root mean squared Error: 2.2847
- Mean Absolute Error: 1.8245
--------------------------------------
Model performance for Test set
- Root mean squared Error: 6.0213
- Mean Absolute Error: 4.6263
===================================


XGBRegressor
Model performance for Training set
- Root mean squared Error: 1.0073
- Mean Absolute Error: 0.6875
--------------------------------------
Model performance for Test set
- Root mean squared Error: 6.4733
- Mean Absolute Error: 5.0577
===================================


CatBoosting Regressor
Model performance for Training set
- Root mean squared Error: 3.0427
- Mean Absolute Error: 2.4054
--------------------------------------
Model performance for Test set
- Root mean squared Error: 6.0086
- Mean Absolute Error: 4.6125
===================================


AdaBoost Regressor
Model performance for Training set
- Root mean squared Error: 5.7735
- Mean Absolute Error: 4.7409
--------------------------------------
Model performance for Test set
- Root mean squared Error: 5.9414
- Mean Absolute Error: 4.6177
===================================